/.DS_Store
/.vscode
jeff_test/applied_loads.py
jeff_test/fea_simulation.py
jeff_test/mesh.py
jeff_test/problem_setup_fcns.py
jeff_test/test_metamat.py
jeff_test/FEA_mesh/mesh3.xml
jeff_test/FEA_results/results_force_list.txt
jeff_test/FEA_results/results.pvd
jeff_test/FEA_results/results000000.vtu
jeff_test/FEA_results/results000001.vtu
jeff_test/FEA_results/results000002.vtu
jeff_test/FEA_results/results000003.vtu
jeff_test/FEA_results/results000004.vtu
jeff_test/FEA_results/results000005.vtu
jeff_test/FEA_results/results000006.vtu
jeff_test/FEA_results/results000007.vtu
jeff_test/FEA_results/results000008.vtu
jeff_test/FEA_results/results000009.vtu
jeff_test/FEA_results/results000010.vtu
jeff_test/FEA_results/results000011.vtu
jeff_test/FEA_results/results000012.vtu
jeff_test/FEA_results/results000013.vtu
jeff_test/FEA_results/results000014.vtu
jeff_test/FEA_results/results000015.vtu
jeff_test/FEA_results/results000016.vtu
jeff_test/FEA_results/results000017.vtu
jeff_test/FEA_results/results000018.vtu
jeff_test/FEA_results/results000019.vtu
jeff_test/FEA_results/results000020.vtu
jeff_test/FEA_results/results000021.vtu
jeff_test/FEA_results/results000022.vtu
jeff_test/FEA_results/results000023.vtu
jeff_test/FEA_results/results000024.vtu
jeff_test/FEA_results/results000025.vtu
jeff_test/FEA_results/results000026.vtu
jeff_test/FEA_results/results000027.vtu
jeff_test/FEA_results/results000028.vtu
jeff_test/FEA_results/results000029.vtu
jeff_test/FEA_results/results000030.vtu
jeff_test/FEA_results/results000031.vtu
jeff_test/FEA_results/results000032.vtu
jeff_test/FEA_results/results000033.vtu
jeff_test/FEA_results/results000034.vtu
jeff_test/FEA_results/results000035.vtu
jeff_test/FEA_results/results000036.vtu
jeff_test/FEA_results/results000037.vtu
jeff_test/FEA_results/results000038.vtu
jeff_test/FEA_results/results000039.vtu
jeff_test/FEA_results/results000040.vtu
jeff_test/FEA_results/results000041.vtu
jeff_test/FEA_results/results000042.vtu
jeff_test/FEA_results/results000043.vtu
jeff_test/FEA_results/results000044.vtu
jeff_test/FEA_results/results000045.vtu
jeff_test/FEA_results/results000046.vtu
jeff_test/FEA_results/results000047.vtu
jeff_test/FEA_results/results000048.vtu
jeff_test/FEA_results/results000049.vtu
jeff_test/__pycache__/applied_loads.cpython-38.pyc
jeff_test/__pycache__/fea_simulation.cpython-38.pyc
jeff_test/__pycache__/problem_setup_fcns.cpython-38.pyc
